__pycache__/
*.py[cod]
*$py.class

.pytest_cache/
.mypy_cache/
.ruff_cache/
.pyright/
.coverage
.coverage.*
coverage.xml
htmlcov/
.hypothesis/

/.venv/
/build/
/dist/
*.egg-info/

.vscode/settings.json

node_modules/
.astro/

/ui/node_modules/
/ui/dist/
/ui/.astro/
/ui/public/assets/entities/
/ui/public/assets/effects/

*.mp3
Tomb of the Serpent_Kings v4.pdf
/game_logs/
/data/mapeditor/maps/
